---
import Layout from '../layouts/Layout.astro';
---

<Layout title={"Biab International"} description={"Let us serve you better"}>
   
  
        <section id="banner" class="banner--about">
          <div class="banner__layer banner__layer--about">
            <div class="inner">
              <h2><span lang="en">About us</span>
                <span lang="sv">Om oss</span></h2>
              <h4><span lang="en">who we are, our values and customers</span>
                <span lang="sv">vilka vi är, våra värderingar och kunder</span></h4>
            </div>
          </div>
        </section>
  
        <section id="about-us-main">
          <header class="special container">
            <!-- <span class="icon solid fa-chart-bar"></span> -->
            <div class="left">
              <h2><span lang="en">Who we are</span>
                <span lang="sv">Vilka vi är</span></h2>
              
              <!-- <ul class="buttons"> -->
              <!-- <li><a href="#" class="button primary">Read more</a></li> -->
              <!-- <li>
                  <a href="./services.html" class="button button--outlined--dark"
                    >Our services</a
                  >
                </li>
              </ul> -->
            </div>
            <div class="right">
              <p><span lang="en">We are a Swedish company and have been in the commodity
                supply business since 1980. During our forty years of operations,
                we have gained valuable experience and extended our product
                portfolio gradually, whilst supplying high-quality products with
                personal service at competitive prices. </span>
                <span lang="sv">Vi är ett svenskt företag och har varit i råvaran
                    leveransverksamhet sedan 1980. Under våra fyrtio år av verksamhet,
                    vi har skaffat oss värdefull erfarenhet och utökat vår produkt
                    portfölj gradvis, samtidigt som de levererar högkvalitativa produkter med
                    personlig service till konkurrenskraftiga priser.</span>
                
                </p><p><span lang="en">With our diversified
                    product portfolio, we attract new customer categories. Currently,
                    we supply to the United Nations, to Non-Governmental
                    Organizations, local government authorities, and to private
                    entities. </span>
                    <span lang="sv">Med vår diversifierade
                        produktportfölj, attraherar vi nya kundkategorier. För närvarande,
                        vi levererar till FN, till icke-statliga
                        Organisationer, lokala myndigheter och till privata
                        enheter.</span>
                </p><p><span lang="en">In our dealings, we give the highest priorities to the
                    principles of (BVM) best value for money, life cycle costs,
                    environment, and to sustainability. No destination is too remote
                    for our logistics partners. We deliver products to all parts of
                    the world, fully insured.</span>
                    <span lang="sv">I våra affärer ger vi högsta prioritet till
                        principer för (BVM) bästa valuta för pengarna, livscykelkostnader,
                        miljö och hållbarhet. Ingen destination är för avlägsen
                        för våra logistikpartners. Vi levererar produkter till alla delar av
                        världen, fullt försäkrad.</span>
              </p>
              <!-- <img src="images/distribution.jpg" /> -->
            </div>
          </header>
        </section>
  
        <!-- Main -->
          <section id="our-values">
            <div>
              <h2><span lang="en">Our values</span>
                <span lang="sv">Våra värderingar</span></h2>
              <!-- <p>
                BIAB International AB started its operations in 1980 in
                Gothenburg, Sweden with the main focus on serving the United
                Nations and international NGO:s with supply of products.
              </p> -->
            </div>
            <div class="row">
              <div class="col-3 col-6-narrower">
                <section>
                  <div class="icon-border icon-border--values">
                    <a
                      href="./uploads/letter_of_commitment.pdf"
                      ><img src="./images/values/global-compact.png"
                    /></a>
                  </div>
                  <header>
                    <a
                      href="./uploads/letter_of_commitment.pdf"
                      ><h3><span lang="en">Letter of commitment</span>
						<span lang="sv">Åtagandebrev</span></h3></a
                    >
                  </header>
                  <!-- <p>
                    Through our extensive network of pre-selected manufacturers
                    and logistics providers, we are able to secure the best
                    business deals.
                  </p> -->
                </section>
              </div>
              <div class="col-3 col-6-narrower">
                <section>
                  <div class="icon-border icon-border--values">
                    <a
                      href="./uploads/code_of_conduct.pdf"
                      ><img src="./images/values/compass.png"
                    /></a>
                  </div>
                  <header>
                    <a
                      href="./uploads/code_of_conduct.pdf"
                      ><h3><span lang="en">Code of conduct</span>
						<span lang="sv">Uppförandekod</span></h3></a
                    >
                  </header>
                  <!-- <p>
                    We take overall responsibility for product supply, complex and
                    global deliveries: warehousing, packaging, and distribution.
                  </p> -->
                </section>
              </div>
              <div class="col-3 col-6-narrower">
                <section>
                  <div class="icon-border icon-border--values">
                    <a
                      href="./uploads/sustainable_procurement_policies.pdf"
                      ><img src="./images/values/lorry.png"
                    /></a>
                  </div>
                  <header>
                    <a
                      href="./uploads/sustainable_procurement_policies.pdf"
                      ><h3><span lang="en">Sustainable supply policies</span>
						<span lang="sv">Hållbar försörjningspolicy</span></h3></a
                    >
                  </header>
                  <!-- <p>
                    BIAB International has constantly received the highest credit
                    worthiness, rated AAA by Dun & Bradstreet.
                  </p> -->
                </section>
              </div>
              <div class="col-3 col-6-narrower">
                <section>
                  <div class="icon-border icon-border--values">
                    <img src="./images/values/recycle.png" />
                  </div>
                  <header>
                    <h3><span lang="en">Lifecycle cost</span>
						<span lang="sv">Livscykel kosta</span>
                      
                    </h3>
                  </header>
                  <!-- <p>
                    We are fully equipped to handle transactional, logistics, and
                    financial risks, and bear the potential transactional risks.
                  </p> -->
                </section>
              </div>
            </div>
          </section>
        </article>
        <article id="our-customers" class="grey-background">
          <section class="wrapper container special">
            <header class="major">
              <h2><span lang="en">Our customers</span>
                <span lang="sv">Våra kunder</span></h2>
            </header>
            <div class="row">
              <div class="col-6 col-12-narrower">
                <section>
                  <a href="#" class="customers image featured"
                    ><div class="customers__un"></div
                  ></a>
                  <header>
                    <h3><span lang="en">The United Nations</span>
						<span lang="sv">Förenta nationerna</span></h3>
                  </header>
                  <p><span lang="en">The UN organizations need high quality products at the most
                    competitive prices and with the shortest possible time of
                    delivery. This is one of the core business of BIAB
                    INTERNATIONAL. We deliver a full spectrum of products
                    ranging from standard to premium products to suit the
                    prevailing conditions where the products are used.</span>
                    <span lang="sv">FN-organisationerna behöver högst högkvalitativa produkter
                        konkurrenskraftiga priser och med kortast möjliga tid av
                        leverans. Detta är en av BIAB:s kärnverksamhet
                        INTERNATIONELL. Vi levererar ett komplett spektrum av produkter
                        allt från standard till premiumprodukter för att passa
                        rådande förhållanden där produkterna används.</span>
                    
                  </p>
                </section>
              </div>
              <div class="col-6 col-12-narrower">
                <section>
                  <a href="#" class="customers image featured"
                    ><div class="customers__ngos"></div
                  ></a>
                  <header>
                    <h3><span lang="en">NGOs</span>
						<span lang="sv">Icke-statliga organisationer</span></h3>
                  </header>
                  <p><span lang="en">There are a large number of NGOs worldwide, each
                    specializing in its own field. Quite often, NGOs require
                    emergency related products. Through our four decades long
                    experience, we have built a large network of prequalified
                    manufacturers in this field through which we can easily meet
                    different NGOs' requirements. Where and when applicable, we
                    also offer alternative products and solutions to comply to
                    Universal design strategy, making products usable by
                    everyone and everywhere.</span>
                    <span lang="sv">Det finns ett stort antal icke-statliga organisationer världen över, var och en
                        specialiserat på sitt eget område. Ganska ofta kräver icke-statliga organisationer
                        nödrelaterade produkter. Genom våra fyra decennier långa
                        erfarenhet har vi byggt ett stort nätverk av prekvalificerade
                        tillverkare inom detta område genom vilka vi lätt kan träffas
                        olika icke-statliga organisationers krav. Där och när det är tillämpligt, vi
                        erbjuder även alternativa produkter och lösningar att följa
                        Universell designstrategi, som gör produkter användbara av
                        alla och överallt.</span>
                    
                  </p>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-12-narrower">
                <section>
                  <a href="#" class="customers image featured"
                    ><div class="customers__local"></div
                  ></a>
                  <header>
                    <h3><span lang="en">Local governments & authorities</span>
						<span lang="sv">Lokala myndigheter och myndigheter</span></h3>
                  </header>
                  <p><span lang="en">Local governments and authorities require products in
                    different fields. They are also in need of customized kits in
                    various areas. We prepare kits to match the needs and we also
                    prepare consolidated shipments.</span>
                    <span lang="sv">Lokala myndigheter och myndigheter kräver produkter i
                        olika fält. De är också i behov av skräddarsydda kit
                        olika områden. Vi förbereder kit för att matcha behoven och vi också
                        förbereda konsoliderade försändelser.</span>
                    
                  </p>
                </section>
              </div>
              <div class="col-6 col-12-narrower">
                <section>
                  <a href="#" class="customers image featured"
                    ><div class="customers__commercial"></div
                  ></a>
                  <header>
                    <h3><span lang="en">Commercial entities</span>
						<span lang="sv">Kommersiella enheter</span></h3>
                  </header>
                  <p><span lang="en">We offer favorable financial solutions and function as an
                    overall risk management provider, with carefully inspected
                    products under production and prior to shipments. We believe
                    in achieving common goals to earn satisfaction of end users.</span>
                    <span lang="sv">Vi erbjuder förmånliga finansiella lösningar och fungerar som ett
                        övergripande riskhanteringsleverantör, med noggrant inspekterad
                        produkter under produktion och före leverans. Vi tror
                        för att uppnå gemensamma mål för att få slutanvändarnas tillfredsställelse.</span>
                    
                  </p>
                </section>
              </div>
            </div>
          </section>
        </article>
       
        <section id="global-compact">
          <div class="container">
            <img
              src="./images/global_compact.jpg"
              alt="United Nations Global Compact logo"
            />
          </div>
        </section>
</Layout>

<style>

</style>

