---
import Layout from '../layouts/Layout.astro';
// const lang = Astro.request.headers.get('accept-language');
---


<Layout title={"Biab International"} description={"Let us serve you better"}>
	<section id="banner" class="banner--home">
		<div class="banner--home">
			<div class="inner">
				<h2>
					<span lang="en">Products and logistics solutions</span>
					<span lang="sv">Produkter och logistiklösningar</span>
				</h2>
				<p>
					<span lang="en">tailor-made for UN organizations, NGOs and the private sector</span>
					<span lang="sv">skräddarsytt för FN-organisationer, icke-statliga organisationer och den privata sektorn</span>
				</p>
				<ul class="buttons">
					<li>
						<a href="#main" class="button button--outlined fit scrolly">
							<span lang="en">Read more</span>
							<span lang="sv">Läs mer</span>
						</a>
					</li>
					<li>
						<a href="contact.html" class="button button--primary fit scrolly">
							<span lang="en">Contact us</span>
							<span lang="sv">Kontakta oss</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section id="what-we-do">
		<div class="container flex flex-row">
			<div class="left">
				<h2>
					<span lang="en">What we do</span>
					<span lang="sv">Vad vi gör</span>
				</h2>
				<p>
					<span lang="en">We supply our customers the products they need under the main principles of best value for money, life cycle cost, sustainability, environment and innovation. We take care of the complete process from receiving inquiries, matchmaking of products to the needs, product development and safe deliveries to final destinations anywhere in the world. Risk management is one of the key components in our dealings.</span>
					<span lang="sv">Vi tillhandahåller våra kunder de produkter de behöver enligt huvudprinciperna bästa valuta för pengarna, livscykelkostnad, hållbarhet, miljö och innovation. Vi tar hand om hela processen från att ta emot förfrågningar, matchning av produkter till behoven, produktutveckling och säkra leveranser till slutdestinationer var som helst i världen. Riskhantering är en av nyckelkomponenterna i våra affärer.</span>
				</p>
				<ul class="buttons">
					<li>
						<a href="./services.html" class="button button--outlined--dark">
							<span lang="en">Our services</span>
							<span lang="sv">Våra tjänster</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="right">
				<img class="shaddow-light" src="./distribution.jpg" />
			</div>
		</div>
	</section>

		
	<section id="why-us">
		<div class="container flex flex-col justify-center items-center ">
			<div class="w-full flex items-center justify-center	 ">
				<h2>
					<span lang="en">Why choose us?</span>
					<span lang="sv">Varför välja oss?</span>
				</h2>
			</div>
			<div class="flex flex-row mt-12">
				<div class="flex flex-col items-center justify-start mx-8">
					<div class="icon-border">
						<span class="icon solid featured icon-placeholder icon-partner"></span>
					</div>
					<h3 class="uppercase">
						<span lang="en">Partner network</span>
						<span lang="sv">Partnernätverk</span>
					</h3>
					<p class="text-center">
						<span lang="en">Through our extensive network of pre-selected manufacturers and
					logistics providers, we are able to secure the best business
					deals.</span>
						<span lang="sv">Genom vårt omfattande nätverk av förutvalda tillverkare och
						logistikleverantörer kan vi säkra den bästa verksamheten
						erbjudanden.</span>
					</p>
				</div>
				<div class="flex flex-col items-center justify-start mx-8">
					<div class="icon-border">
					<span
						style="padding-bottom: 10px"
						class="icon solid featured icon-placeholder icon-supply"
					></span>
					</div>
					<h3 class="uppercase"><span lang="en">Supply chain</span>
						<span lang="sv">Försörjningskedjan</span></h3>
					<p class="text-center"><span lang="en">We take overall responsibility for product supply, complex and
					global deliveries: warehousing, packaging, and distribution.</span>
					<span lang="sv">Vi tar ett helhetsansvar för produktförsörjning, komplex och
						globala leveranser: lager, förpackning och distribution.</span>
					
					</p>
				</div>
				<div class="flex flex-col items-center justify-start mx-8">
					<div class="icon-border">
					<span
						class="icon solid featured icon-placeholder icon-financial"
					></span>
					</div>
					<h3 class="uppercase"><span lang="en">Financial fundament</span>
						<span lang="sv">Finansiell grund</span></h3>
					<p class="text-center">
					<span lang="en">BIAB International has constantly received the highest credit
						worthiness, rated AAA by Dun & Bradstreet.</span>
					<span lang="sv">BIAB International har hela tiden fått högsta kredit
						värdighet, betygsatt AAA av Dun & Bradstreet.</span>
					</p>
				</div>
				<div class="flex flex-col items-center justify-start mx-8">
					<div class="icon-border">
					<span
						class="icon solid featured icon-placeholder icon-risk"
					></span>
					</div>
					<h3 class="uppercase"><span lang="en">Risk management</span>
						<span lang="sv">Risk management</span></h3>
					<p class="text-center"><span lang="en">We are fully equipped to handle transactional, logistics, and
					financial risks, and bear the potential transactional risks.</span>
					<span lang="sv">Vi är fullt utrustade för att hantera transaktioner, logistik och
						finansiella risker och bära de potentiella transaktionsriskerna.</span>
					
					</p>
			</div>
		</div>
	</section>
		
			  <!-- ISO Certified -->
			  
		
			  <!-- CTA -->
			  <section id="cta">
				<header class="special container">
				  <img
					class="shaddow-dark"
					src="./innovation.png"
					alt="innovation image"
				  />
				  <div class="cta__text">
					<!-- <h3>BIAB</h3> -->
					<h2><span lang="en">Innovation</span>
						<span lang="sv">Innovation</span></h2>
					<p><span lang="en">We are constantly striving to supply more innovative, environment
						friendly and sustainable solutions.</span>
						<span lang="sv">Vi strävar ständigt efter att leverera en mer innovativ miljö
							vänliga och hållbara lösningar.</span>
					 
					</p>
					<ul class="buttons">
					  <!-- <li><a href="#" class="button primary">Read more</a></li> -->
					  <li>
						<a href="innovation.html" class="button button--outlined"
						  ><span lang="en">Read more</span>
						  <span lang="sv">Read more</span></a
						>
					  </li>
					</ul>
				  </div>
				</header>
			  </section>
			  
			  <section id="iso">
				<header class="special container">
				 
				  <div class="cta__text">
					<h3><span lang="en">Standards and Quality</span>
						<span lang="sv">Standarder och kvalitet</span>
					</h3>
					<h2><span lang="en">We are an ISO Certified company</span>
						<span lang="sv">Vi är ett ISO-certifierat företag</span></h2>
		
					<ul class="buttons">
					  <li>
						<a href="./uploads/BIAB International AB, ISO 14001.pdf" target="_blank"
						  ><img alt="ISO 14001 certification logo" src="./iso_14001.png"/></a
						>
					  </li>
					  <li>
						<a href="./uploads/BIAB International AB, ISO 9001.pdf" target="_blank"
						  ><img alt="ISO 9001 certification logo" src="./iso_9001.png"/></a
						>
					  </li>
					</ul>
				  </div>
				</header>
			  </section>
</Layout>

<style>
	.banner--home {
		background: url(home_banner.jpeg) rgba(7,10,13,.52);
    	background-size: cover;
    	background-position: 80%;
		/* background-blend-mode: multiply; */
    	height: 38em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.inner {
		max-width: 1170px;
		width: 1170px;
		padding: 5.8em 0 3em;
		/* animation: reveal-banner 1s ease-in-out .25s; */
		/* animation-fill-mode: forwards; */
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
		/* opacity: 0; */
		color: #fff;
		/* border: 1px solid red */
	}

	.inner h2 {
		font-size: 2.9rem;
    	font-weight: 300;
		letter-spacing: 0;
		color: #fff;
		margin-bottom: 0.6rem;
	}

	.inner p {
		font-size: 1.125rem;
    	font-weight: 400;
    	width: 100%;
		letter-spacing: 0.1em;
		margin: 1em 0 3em;
		max-width: 70ch;
	}

	.inner ul {
		display: flex;
		/* margin-top: 3rem; */
	}

	.inner li {
		margin-right: 2em;
	}

	#what-we-do {
		background-color: #f2f2f2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#what-we-do h2, #why-us h2 {
		color: var(--clr-primary-variant);
		margin: 0;
		font-size: 1.75rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	#what-we-do p {
		font-size: 1rem;
		margin: 2em 0 3em;
	}

	#why-us {
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#why-us p {
		/* width: 100%; */
		text-align: center;
		/* margin-bottom: 40px; */
		/* max-width: 100%; */
		line-height: 1.6;
		font-size: .9rem;
		letter-spacing: 0;
		/* text-align: center!important; */
		color: rgba(30,28,22,.67);
	}

	.container {
		max-width: 1170px;
		margin: 6em 0;
		/* border: 1px dashed red; */
	}

	.left {
		width: 60%;
		text-align: left;
		padding-right: 40px;
		/* outline: 1px solid green; */
	}

	.right {
		width: 40%;
		padding-left: 40px;
	}

	.icon.featured {
		cursor: default;
		display: block;
		/* margin: 0 0 1.5em; */
		opacity: .35;
		text-align: center;
	}

	.icon-placeholder {
		height: 130px;
		width: 130px;
		background-repeat: no-repeat;
		background-position-x: 50%;
		background-size: contain;
	}

	.icon-supply {
		background-image: url("../icons/supply_chain.png");
	}
	.icon-financial {
		background-image: url("../icons/financial.png");
	}
	.icon-partner {
		background-image: url("../icons/partner_network.png");
	}
	.icon-risk {
		background-image: url("../icons/risk.png");
	}


	.icon.featured {
		opacity: 0.8;
	}

</style>

