---
import Layout from '../layouts/Layout.astro';
---

<Layout title={"Biab International"} description={"Let us serve you better"}>
    <div>
        <h2>Biab Innovation</h2>
        <p>
            <span lang="en">About our innovation</span>
			<span lang="sv">Om vår innovation</span>
        </p>
    </div>
</Layout>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
    }
</style>

