---
import Layout from '../layouts/Layout.astro';
---

<Layout title={"Biab International"} description={"Let us serve you better"}>
    <section id="banner" class="banner--about">
        <div class="banner__layer banner__layer--about">
          <div class="inner">
            <!-- <h2>BIAB International</h2> -->
            <h2><span lang="en">Our services</span>
                <span lang="sv">Our services</span></h2>
            <h4><span lang="en">and where we can help</span>
                <span lang="sv">och där vi kan hjälpa till</span></h4>
          </div>
        </div>
      </section>

      <!-- Main -->
      <section id="about-us-main">
        <header class="special container">
          <!-- <span class="icon solid fa-chart-bar"></span> -->
          <div class="left">
            <h2><span lang="en">Let us serve you better</span>
                <span lang="sv">Låt oss tjäna dig bättre</span></h2>
           
            <!-- <ul class="buttons"> -->
            <!-- <li><a href="#" class="button primary">Read more</a></li> -->
            <!-- <li>
                <a href="./services.html" class="button button--outlined--dark"
                  >Our services</a
                >
              </li>
            </ul> -->
          </div>
          <div class="right">
            <p><span lang="en">After 40 years in the supply business, BIAB International has
                developed an extensive network of pre-selected manufacturers,
                joint-venture manufacturing agreements of selected items. Our
                logistic partners enable us to effectively serve customers around
                the globe.</span>
                <span lang="sv">Efter 40 år i leveransbranschen har BIAB International
                    utvecklat ett omfattande nätverk av förutvalda tillverkare,
                    joint venture-tillverkningsavtal för utvalda artiklar. Vår
                    logistiska partners gör det möjligt för oss att effektivt betjäna kunder runt omkring
                    Globen.</span>
              
            </p>
            <!-- <img src="images/distribution.jpg" /> -->
          </div>
        </header>
      </section>

      <!-- Main -->

      <article id="why-us" class="">
        <section class=" container special">
          <header class="major">
            <h2><span lang="en">Our services</span>
                <span lang="sv">Våra tjänster</span></h2>
          </header>
          <div class="row">
            <div class="row">
              <div class="col-6 col-12-narrower">
                <section>
                  <a href="#" class="image featured"
                    ><img
                      class="our_services"
                      src="images/services/procurement.jpg"
                      alt=""
                  /></a>
                  <header>
                    <h3><span lang="en">Procurement & Sourcing</span>
                        <span lang="sv">Upphandling & Sourcing</span></h3>
                  </header>
                  <p><span lang="en">Our business concept is, we supply the products you need.
                    Through our experienced staff and extensive network of
                    selected and trustworthy manufacturers we secure the best
                    business possible deals for our clients.</span>
                    <span lang="sv">Vår affärsidé är att vi levererar de produkter du behöver.
                        Genom vår erfarna personal och omfattande nätverk av
                        utvalda och pålitliga tillverkare säkerställer vi de bästa
                        affärsmöjliga affärer för våra kunder.</span>
                    
                  </p>
                </section>
              </div>
              <div class="col-6 col-12-narrower">
                <section>
                  <a href="#" class="image featured"
                    ><img
                      class="our_services"
                      src="images/services/warehousing.jpg"
                      alt=""
                  /></a>
                  <header>
                    <h3><span lang="en">Warehousing</span>
                        <span lang="sv">Warehousing</span></h3>
                  </header>
                  <p><span lang="en">When and where necessary and applicable, we are able to
                    provide warehousing and stock holding facilities. We have
                    experience of keeping White stocks, especially under running
                    LTA:S (Long Terms Supply Arrangements).</span>
                    <span lang="sv">När och där det är nödvändigt och tillämpligt kan vi
                        tillhandahålla lager- och lagerlokaler. Vi har
                        erfarenhet av att hålla vita aktier, särskilt under drift
                        LTA:S (Long Terms Supply Arrangements).</span>
                    
                  </p>
                </section>
              </div>
            </div>

            <div class="col-6 col-12-narrower">
              <section>
                <a href="#" class="image featured"
                  ><img
                    class="our_services"
                    src="images/services/fulfilment.jpg"
                    alt=""
                /></a>
                <header>
                  <h3><span lang="en">Fulfillment & Kit-solutions</span>
                    <span lang="sv">Uppfyllelse & Kit-lösningar</span></h3>
                </header>
                <p><span lang="en">We provide kit-solutions to match your specific requirements.
                    Our responsibility is to cover all your needs in the most cost
                    effective manner. We take over the risk management.</span>
                    <span lang="sv">Vi tillhandahåller kit-lösningar för att matcha dina specifika krav.
                        Vårt ansvar är att täcka alla dina behov till den högsta kostnaden
                        effektivt sätt. Vi tar över riskhanteringen.</span>
                  
                </p>
              </section>
            </div>
            <div class="col-6 col-12-narrower">
              <section>
                <a href="#" class="image featured"
                  ><img
                    class="our_services"
                    src="images/services/distribution.png"
                    alt=""
                /></a>
                <header>
                  <h3><span lang="en">Distribution</span>
                    <span lang="sv">Distribution</span></h3>
                </header>
                <p><span lang="en">Through our global network of logistical partners,
                    distribution hubs and fulfillment, we offer efficient and fast
                    logistic solution to destinations all over the world.</span>
                    <span lang="sv">Genom vårt globala nätverk av logistiska partners,
                        distributionsnav och uppfyllelse erbjuder vi effektivt och snabbt
                        logistisk lösning till destinationer över hela världen.</span>
                  
                </p>
              </section>
            </div>
            <div class="col-6 col-12-narrower">
              <section>
                <a href="#" class="image featured"
                  ><img class="our_services" src="images/services/risk.jpg" alt=""
                /></a>
                <header>
                  <h3><span lang="en">Risk Management</span>
                    <span lang="sv">Risk Management</span></h3>
                </header>
                <p><span lang="en">Through our financial strength, local office network, BIAB
                    International AB takes over the role of a comprehensive risk
                    management partner. We secure and safeguard business
                    transactions for the customers, leading to safe business
                    dealings.</span>
                    <span lang="sv">Genom vår finansiella styrka, lokala kontorsnätverk, BIAB
                        International AB tar över rollen som en omfattande risk
                        ledningspartner. Vi säkrar och tryggar affärer
                        transaktioner för kunderna, vilket leder till säkra affärer
                        affärer.</span>
                  
                </p>
              </section>
            </div>
            <div class="col-6 col-12-narrower">
              <section>
                <a href="#" class="image featured"
                  ><img
                    class="our_services"
                    src="images/services/emergency.jpg"
                    alt=""
                /></a>
                <header>
                  <h3><span lang="en">Emergency Response</span>
                    <span lang="sv">Emergency Response</span></h3>
                </header>
                <p><span lang="en">We response to emergency requirement in various fields,
                    ranging from medical supplies such as PPE-kits, trauma-kits,
                    first aid-kits to school and education supplies, travel and
                    camping kits, etc.</span>
                    <span lang="sv">Vi svarar på akuta krav inom olika områden,
                        allt från medicinska förnödenheter som PPE-kit, trauma-kit,
                        första hjälpen-kit till skol- och utbildningsmaterial, resor och
                        campingpaket osv.</span>
                  
                </p>
              </section>
            </div>
          </div>
        </section>
      </article>
      <!-- Main -->
      <article id="why-us" class="grey-background">
        <section class="wrapper style1 container special areas-of-focus">
          <div class="row header">
            <div class="col-12-narrower">

            <h2><span lang="en">Our areas of focus</span>
                <span lang="sv">Våra fokusområden</span></h2>
            <p>
              <!-- BIAB International AB started its operations in 1980 in
              Gothenburg, Sweden with the main focus on serving the United
              Nations and international NGO:s with supply of products. -->
            </p>
            </div>  
          </div>
          <div class="row why-us">
            <div class="col-3 col-12-narrower">
              <section>
                <div class="image-border ">
                  <img src="./images/focus/construction.jpg" />
                </div>
                <header>
                  <h3><span lang="en">Construction Materials</span>
                    <span lang="sv">Byggmaterial</span></h3>
                  <p>
                </header>
              </section>
            </div>
            <div class="col-3 col-12-narrower">
              <section>
                <div class="image-border ">
                  <img src="./images/focus/education.jpg" />
                </div>
                <header>
                  <h3><span lang="en">Education & Recreation</span>
                    <span lang="sv">Utbildning och fritid</span></h3>
                </header>
              </section>
            </div>
            <div class="col-3 col-12-narrower">
              <section>
                <div class="image-border ">
                  <img src="./images/focus/emergency.jpg" />
                </div>
                <header>
                  <h3><span lang="en">Emergency Relief</span>
                    <span lang="sv">Nödhjälp</span></h3>
                </header>
              </section>
            </div>
            <div class="col-3 col-12-narrower">
              <section>
                <div class="image-border ">
                  <img src="./images/focus/tools.png" />
                </div>
                <header>
                  <h3><span lang="en">Tools & Agriculture</span>
                    <span lang="sv">Verktyg & Lantbruk</span></h3>
                </header>
              </section>
            </div>
          </div>
          <div class="row why-us">
            <div class="col-3 col-12-narrower">
              <section>
                <div class="image-border ">
                  <img src="./images/focus/protective.jpg" />
                </div>
                <header>
                  <h3><span lang="en">Protective Equipment</span>
                    <span lang="sv">Skyddsutrustning</span></h3>
                </header>
              </section>
            </div>
            <div class="col-3 col-12-narrower">
              <section>
                <div class="image-border ">
                  <img src="./images/services/susan-holt-simpson-2nSdQEd-Exc-unsplash.jpg" />
                </div>
                <header>
                  <h3><span lang="en">Kits</span>
                    <span lang="sv">Kit</span></h3>
                </header>
              </section>
            </div>
            <div class="col-3 col-12-narrower">
              <section>
                <div class="image-border ">
                  <img src="./images/focus/storage.jpg" />
                </div>
                <header>
                  <h3><span lang="en">Storage & Packaging</span>
                    <span lang="sv">Förvaring & Förpackning</span></h3>
                </header>
              </section>
            </div>
            <div class="col-3 col-12-narrower">
              <section>
                <div class="image-border ">
                  <img src="./images/focus/sanitation.jpg" />
                </div>
                <header>
                  <h3><span lang="en">Sanitation & Hygiene</span>
                    <span lang="sv">Sanitet & Hygien</span></h3>
                </header>
              </section>
            </div>
          </div>
        </section>
      </article>

      <!-- CTA -->
      <section id="cta">
        <header class="special container">
          <!-- <img src="./images/innovation.png" alt="innovation image" /> -->
          <div class="cta__text">
            <!-- <h3>BIAB</h3> -->
            <h2><span lang="en">Need help?</span>
                <span lang="sv">Behövs hjälp?</span></h2>
            <p><span lang="en">For more information or help, please get in touch, we are here for you.</span>
                <span lang="sv">För mer information eller hjälp, vänligen kontakta oss, vi finns här för dig.</span></p>

            <a href="./contact.html" class="button button--secondary"
              ><span lang="en">Get in touch</span>
              <span lang="sv">Komma i kontakt</span></i
            ></a>
          </div>
        </header>
      </section>
     
</Layout>

<style>

</style>

