---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); 
---

<header id="header" >
	<a class="logo-container" href="/">
		<img src="original_logo.png" class="logo"/>
	</a>
	<nav>
		<ul>
			<li class={currentPath === "" ? "active" : ""}>
				<a href="/">
					<span lang="en">Home</span>
					<span lang="sv">Hjem</span>
				</a>
			</li>
			<li class={currentPath === "about" ? "active" : ""}>
				<a href="/about">
					<span lang="en">About us</span>
					<span lang="sv">Om oss</span>
				</a>
			</li>
			<li class={currentPath === "services" ? "active" : ""}>
				<a href="/services">
					<span lang="en">Our services</span>
					<span lang="sv">Våra tjänster</span>
				</a>
			</li>
			<li class={currentPath === "innovation" ? "active" : ""}>
				<a href="/innovation">
					<span lang="en">Innovation</span>
					<span lang="sv">Innovation</span>
				</a>
			</li>
			<li class={currentPath === "contact" ? "active" : ""}>
				<a href="/contact">
					<span lang="en">Contact us</span>
					<span lang="sv">Kontakta oss</span>
				</a>
			</li>
			<li>
				<a class="selectedLanguage" id="swedish" onclick="return setLocale('sv')" href="#">SV</a> 
				| <a class="" id="english" onclick="return setLocale('en')" href="#">EN</a></li>
		</ul>
	</nav>
	
	<!-- <astro:language-switcher /> -->

</header>
<style>
	header {
		margin: 0;
		padding: 1rem 2.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: .8em;
		/* border: 1px solid red; */
		background: transparent;
		position: absolute;
		width: 100%;
	}
	.logo-container {
		margin:0;
		padding: 0;
		text-decoration: none;
		border:none;
	}
	.logo {
		height: 70px;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	ul {
		display: flex;
	}
	li {
		padding: 1em 0 1em 3em;
		color: white;

	}
	a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}
	.active {
		font-weight: 600;
	}
	.selectedLanguage {
		border-bottom: 4px solid #024f79;
		font-weight: 600;
	}
</style>
<script is:inline>
	if (
		(window.localStorage.getItem("language") == null && navigator.language.includes("sv"))
		|| window.localStorage.getItem("language") == "sv"
		) {
		document.getElementById("swedish").classList.add("selectedLanguage");
		document.getElementById("english").classList.remove("selectedLanguage");
	} else {
		document.getElementById("swedish").classList.remove("selectedLanguage");
		document.getElementById("english").classList.add("selectedLanguage");
	}

	function setLocale(langCode) {
		window.localStorage.setItem('language', langCode);
		location.reload();
	}
</script>