---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
 title: string,
 description: string,
}

const {title, description}:Props = Astro.props;
---

<!doctype html>
<script>
  let userLanguage = "en";
  if (window.localStorage.getItem("language")?.includes("sv")) {
    userLanguage = "sv"
  }
  if (window.localStorage.getItem("language") == null && navigator.language.includes("sv")) {
    userLanguage = "sv";
  } 
  document.documentElement.setAttribute("lang", userLanguage);
</script>

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<slot />
    <Footer />
	</body>
</html>

<style is:global>
	:root {
  /* main */
  --swedish-blue: #03588e;
    --swedish-blue1: #2d5fa1;
    --swedeish-yellow: #fdcf09;
    --swedeish-yellow1: #ffca20;
    --very-light-grey: #f3f6fa;
    --light-grey0: #667794;
    --grey0: #7c8081;
    --dark-grey0:#333;
    --blue0: hsl(201, 97%, 24%);
    --navy0: #304780;
    --dark-navy0: #0b1c33   ;
    --yellow0: #f1e53d;
    --light-green0: #69999b;

    /* alternatives 1 */
    --navy1: #2f4982;
    --navy3: #304980;
    --navy4: #304a82;
    --yellow1: #f4e735;
    --yellow2: #f1e53e;
    --blue2: #267cb8;

    /* alternatives 2 */
    --blue2: #1c4e8e;
    --navy2: #162b4c;
    --yellow2: #f2bd00;
    --blue2: #267cb8;
    --grey2: #dddddd;

    /* alternatives 2 */
    --blue3: #6992a4;
    --navy3: #01265a;
    --yellow3: #f5af2a;
    --blue3: #267cb8;
    --grey3: #a1aab1;

    /* Color selection */
    --black: #000;
    --white: #fff;

    --very-light-grey: var(--very-light-grey);
    --light-grey: var(--light-grey0);
    --grey: var(--grey0);
    --dark-grey:var(--dark-grey0);

    --blue: var(--swedish-blue1);
    --navy: var(--dark-navy0);

    --yellow: var(--swedeish-yellow1);

    --light-green: var(--light-green0);

    --clr-primary: hsl(201, 97%, 24%);
    --clr-primary-900: hsl(201, 97%, 4%);
    --clr-primary-variant: hsl(201, 97%, 14%);
    --clr-primary-variant-1: hsl(201, 97%, 26%);
    --clr-accent: hsl(45,86%,46%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 90%);

    --ff-accent: "Roboto", sans-serif;
    --ff-primary: "Open Sans", sans-serif;
}
html {

}
body,
input,
select,
textarea {
  color: var(--dark-grey);
  font-family: var(--ff-primary);
  background-color: black;
  /* font-size: 15pt; */
  font-weight: 400;
  /* letter-spacing: 0.025em; */
  /* line-height: 1.75em; */
}
.container {
  max-width: 1170px;
}

h1,
h2 {
  line-height: 130%;
  letter-spacing: 0px !important;
  color: var(--clr-primary-variant);
  margin: 0 0 1em 0;
  font-family: var(--ff-accent);
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-family: var(--ff-accent);
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--clr-primary-variant);
}

h4 {
  text-transform: none;
}

p {
  /* width: clamp(45ch, 50%, 75ch); */
  font-size: 1rem;
  line-height: 170%;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  border-bottom: none;
}

html[lang="en"] [lang="sv"], 
html[lang="sv"] [lang="en"] { 
    display: none;
}
.button {
		margin: 0;
		border: 1px solid;
		border-radius: 4px;
		font-weight: 400;
		padding: 0.6em 1.95em;
		letter-spacing: 1px;
		min-width: fit-content;
		text-transform: none;
		font-size: .8em;
		cursor: pointer;
	}

	.button--outlined {
		background: transparent;
   		border-color: #fff;
    	color: #fff;
	}

	.button--primary {
		background: var(--clr-primary);
    	border-color: var(--clr-primary);
    	color: #fff;
	}
.button--outlined--dark {
    background: transparent;
    border-color: var(--clr-primary);
    color: var(--clr-primary);
}
</style>

